$black: #232323;
// $background: rgb(43, 43, 255);
$background: linear-gradient(45deg, rgb(3, 3, 129), rgb(43, 255, 160));
$gray-line: #f6f6f6;
$orange: rgb(29, 154, 97);

$container-width: 90%;

$duration: 0.15s;
